[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/zi_lib"]
	path = third_party/zi_lib
	url = ../zi_lib
[submodule "third_party/vmmlib"]
	path = third_party/vmmlib
	url = ../vmmlib
